.DS_Store
**/build/
**/dist/
**/*.jar
**/resource/**/buildnum.props
king/resource/king/king_prefs
king/doc/dot_king_prefs.txt
king/resource/META-INF/services/king.Plugin
chiropraxis/doc/work/tools-manual-lyxformat-345.lyx
chiropraxis/doc/work/tools-manual.html.LyXconv/
king/doc/work/king-manual-lyxformat-345.lyx
king/doc/work/king-manual.html.LyXconv/
chiropraxis/doc/work/tools-manual.pdf
king/probe